<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean id="UserService" class="com.jnshu.service.impl.UserServiceImpl"/>

    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <!-- 目标对象 在 WEB-INF/config/spring/applicationContext-service.xml 已定义-->
    <!--<bean id="userService" class="com.jnshu.service.impl.UserServiceImpl"/>-->
    <!-- 该类被拦截器拦截了 -->
    <!--<bean id="userController" class="com.jnshu.controller.UserController"/>-->
    <!-- Controller AOP-->
    <bean name="timeAspectUserService" class="com.jnshu.aop.TimeAsperctUserService"/>
</beans>